language: php

php:
    - 5.6
    - 7.0
    - hhvm
    
matrix:
  allow_failures:
    - php: hhvm

script: phpunit --configuration ./tests/phpunit.xml --coverage-text

before_script:
    # Create config.ini
    - cp ./config.ini.dist ./config.ini
