language: php

php:
    - 5.6
    - 7.0
    - hhvm
    
matrix:
  allow_failures:
    - php: hhvm

script: phpunit --configuration ./tests/phpunit.xml

before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction
    # Create config.ini
    - cp ./config.ini.dist ./config.ini
